.dropdown-Container {
  backdrop-filter: blur(5px);
  background-image: url('../assets/images/galleryBackground.png');
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}

.dropdown-button {
  background-color: rgba(229, 225, 229, 0.879);
  border: 1px solid rgb(61, 44, 56);
}

.dropdown-button:hover {
  background-color: rgba(197, 194, 197, 0.879);
}