.headerContainer {
  background-image: url('../../resources/mainBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
}
/* 
.headerContent {
  position: relative;
  left: 100px;
} */

.headerContent_Container {
  background-color: #f16b9586;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  box-shadow: 2px 2px 5px 1px #605e5e;
  padding: 5px;
}

.headerContent_header {
  color: #390a0a;
  border-radius: 10px;
  background-color: #ffffff8a;
}

.headerContent_header h1 {
  -webkit-text-stroke: 1px #fff;
}

.headerContent_hr {
  border: 1px solid #fff;
  width: 100%;
  margin: 20px 0;
}

.hr1 {
  margin: 20px 0;
}

.aboutMe_Container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
}

.ilustration4 {
  border-radius: 15px;
  box-shadow: 1px 1px 5px 3px #eae7e7;
  padding: 20px 10px 0 0;
}

.headerContent_nav {
  padding: 1rem 0;
  margin: 1rem 0 0 0;
  border-radius: 10px;
}

.headerContent_nav ul > li {
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgba(221, 206, 206, 0.842);
}
